<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<key>*_mod</key>
<key>amp_keycenter</key>
<key>amp_keytrack</key>
<key>amp_random</key>
<key>amp_velcurve_N</key>
<key>amp_veltrack_ccN</key>
<key>amp_veltrack_curveccN</key>
<key>amp_veltrack_onccN</key>
<key>amp_veltrack_random</key>
<key>amp_veltrack</key>
<key>ampeg_attack_onccN</key>
<key>ampeg_attack_shape</key>
<key>ampeg_attack</key>
<key>ampeg_attackccN</key>
<key>ampeg_decay_curveccN</key>
<key>ampeg_decay_onccN</key>
<key>ampeg_decay_shape</key>
<key>ampeg_decay_zero</key>
<key>ampeg_decay</key>
<key>ampeg_decayccN</key>
<key>ampeg_delay_onccN</key>
<key>ampeg_delay</key>
<key>ampeg_delayccN</key>
<key>ampeg_dynamic</key>
<key>ampeg_hold_curveccN</key>
<key>ampeg_hold_onccN</key>
<key>ampeg_hold</key>
<key>ampeg_holdccN</key>
<key>ampeg_release_onccN</key>
<key>ampeg_release_shape</key>
<key>ampeg_release_zero</key>
<key>ampeg_release</key>
<key>ampeg_releaseccN</key>
<key>ampeg_start_onccN</key>
<key>ampeg_start</key>
<key>ampeg_startccN</key>
<key>ampeg_sustain_curveccN</key>
<key>ampeg_sustain_onccN</key>
<key>ampeg_sustain</key>
<key>ampeg_sustainccN</key>
<key>ampeg_vel2attack</key>
<key>ampeg_vel2decay</key>
<key>ampeg_vel2delay</key>
<key>ampeg_vel2hold</key>
<key>ampeg_vel2release</key>
<key>ampeg_vel2sustain</key>
<key>amplfo_delay</key>
<key>amplfo_depth_onccN</key>
<key>amplfo_depth</key>
<key>amplfo_depthccN</key>
<key>amplfo_depthchanaft</key>
<key>amplfo_depthpolyaft</key>
<key>amplfo_fade</key>
<key>amplfo_freq</key>
<key>amplfo_freqccN</key>
<key>amplfo_freqchanaft</key>
<key>amplfo_freqpolyaft</key>
<key>amplitude_ccN</key>
<key>amplitude_curveccN</key>
<key>amplitude_onccN</key>
<key>amplitude_smoothccN</key>
<key>amplitude</key>
<key>apan_depth_onccN</key>
<key>apan_depth</key>
<key>apan_dry_onccN</key>
<key>apan_dry</key>
<key>apan_freq_onccN</key>
<key>apan_freq</key>
<key>apan_phase_onccN</key>
<key>apan_phase</key>
<key>apan_waveform</key>
<key>apan_wet_onccN</key>
<key>apan_wet</key>
<key>bend_down</key>
<key>bend_smooth</key>
<key>bend_step</key>
<key>bend_stepdown</key>
<key>bend_stepup</key>
<key>bend_up</key>
<key>benddown</key>
<key>bendstep</key>
<key>bendup</key>
<key>bitred_curveccN</key>
<key>bitred_onccN</key>
<key>bitred_smoothccN</key>
<key>bitred_stepccN</key>
<key>bitred</key>
<key>bus</key>
<key>bypass_onccN</key>
<key>comp_attack</key>
<key>comp_gain</key>
<key>comp_ratio</key>
<key>comp_release</key>
<key>comp_stlink</key>
<key>comp_threshold</key>
<key>count</key>
<key>curve_index</key>
<key>cutoff_ccN</key>
<key>cutoff_chanaft</key>
<key>cutoff_curveccN</key>
<key>cutoff_onccN</key>
<key>cutoff_polyaft</key>
<key>cutoff_random</key>
<key>cutoff_smoothccN</key>
<key>cutoff_stepccN</key>
<key>cutoff</key>
<key>cutoff2</key>
<key>decim_curveccN</key>
<key>decim_onccN</key>
<key>decim_smoothccN</key>
<key>decim_stepccN</key>
<key>decim</key>
<key>default_path</key>
<key>#define</key>
<key>delay_beats</key>
<key>delay_ccN</key>
<key>delay_cutoff_onccN</key>
<key>delay_cutoff</key>
<key>delay_damphi_onccN</key>
<key>delay_damphi</key>
<key>delay_damplo_onccN</key>
<key>delay_damplo</key>
<key>delay_dry_onccN</key>
<key>delay_dry</key>
<key>delay_feedback_onccN</key>
<key>delay_feedback</key>
<key>delay_filter</key>
<key>delay_input_onccN</key>
<key>delay_input</key>
<key>delay_levelc</key>
<key>delay_levell</key>
<key>delay_levelr</key>
<key>delay_lfofreq_onccN</key>
<key>delay_lfofreq</key>
<key>delay_moddepth_onccN</key>
<key>delay_moddepth</key>
<key>delay_mode</key>
<key>delay_onccN</key>
<key>delay_panc_onccN</key>
<key>delay_panc</key>
<key>delay_panl_onccN</key>
<key>delay_panl</key>
<key>delay_panr_onccN</key>
<key>delay_panr</key>
<key>delay_random</key>
<key>delay_resonance_onccN</key>
<key>delay_resonance</key>
<key>delay_samples_onccN</key>
<key>delay_samples</key>
<key>delay_spread_onccN</key>
<key>delay_spread</key>
<key>delay_syncc_onccN</key>
<key>delay_syncl_onccN</key>
<key>delay_syncr_onccN</key>
<key>delay_time_tap</key>
<key>delay_timec_onccN</key>
<key>delay_timec</key>
<key>delay_timel_onccN</key>
<key>delay_timel</key>
<key>delay_timer_onccN</key>
<key>delay_timer</key>
<key>delay_wet_onccN</key>
<key>delay_wet</key>
<key>delay</key>
<key>direction</key>
<key>directtomain</key>
<key>disto_depth_onccN</key>
<key>disto_depth</key>
<key>disto_dry_onccN</key>
<key>disto_dry</key>
<key>disto_stages</key>
<key>disto_tone_onccN</key>
<key>disto_tone</key>
<key>disto_wet_onccN</key>
<key>disto_wet</key>
<key>dsp_order</key>
<key>effect1</key>
<key>effect2</key>
<key>effect3</key>
<key>effect4</key>
<key>egN_ampeg</key>
<key>egN_amplitude_onccX</key>
<key>egN_amplitude</key>
<key>egN_bitred_onccX</key>
<key>egN_bitred</key>
<key>egN_curveX</key>
<key>egN_cutoff_onccX</key>
<key>egN_cutoff</key>
<key>egN_cutoff2_onccX</key>
<key>egN_cutoff2</key>
<key>egN_decim_onccX</key>
<key>egN_decim</key>
<key>egN_depth_lfoX</key>
<key>egN_depthadd_lfoX</key>
<key>egN_driveshape_onccX</key>
<key>egN_driveshape</key>
<key>egN_eqXbw_onccY</key>
<key>egN_eqXbw</key>
<key>egN_eqXfreq_onccY</key>
<key>egN_eqXfreq</key>
<key>egN_eqXgain_onccY</key>
<key>egN_eqXgain</key>
<key>egN_freq_lfoX</key>
<key>egN_levelX_onccY</key>
<key>egN_levelX</key>
<key>egN_loop_count</key>
<key>egN_loop</key>
<key>egN_noiselevel_onccX</key>
<key>egN_noiselevel</key>
<key>egN_noisestep_onccX</key>
<key>egN_noisestep</key>
<key>egN_noisetone_onccX</key>
<key>egN_noisetone</key>
<key>egN_pan_curve</key>
<key>egN_pan_curveccX</key>
<key>egN_pan_onccX</key>
<key>egN_pan</key>
<key>egN_pitch_onccX</key>
<key>egN_pitch</key>
<key>egN_points</key>
<key>egN_rectify_onccX</key>
<key>egN_rectify</key>
<key>egN_resonance_onccX</key>
<key>egN_resonance</key>
<key>egN_resonance2_onccX</key>
<key>egN_resonance2</key>
<key>egN_ringmod_onccX</key>
<key>egN_ringmod</key>
<key>egN_shapeX</key>
<key>egN_sustain</key>
<key>egN_timeX_onccY</key>
<key>egN_timeX</key>
<key>egN_volume_onccX</key>
<key>egN_volume</key>
<key>egN_width_onccX</key>
<key>egN_width</key>
<key>end</key>
<key>eq_bw_onccN</key>
<key>eq_bw</key>
<key>eq_freq_onccN</key>
<key>eq_freq</key>
<key>eq_gain_onccN</key>
<key>eq_gain</key>
<key>eq_type</key>
<key>eqN_bw_onccX</key>
<key>eqN_bw</key>
<key>eqN_bwccX</key>
<key>eqN_dynamic</key>
<key>eqN_freq_onccX</key>
<key>eqN_freq</key>
<key>eq1_freq=500</key>
<key>eq1_freq=5000</key>
<key>eqN_freqccX</key>
<key>eqN_gain_onccX</key>
<key>eqN_gain</key>
<key>eqN_gainccX</key>
<key>eqN_type</key>
<key>eqN_vel2freq</key>
<key>eqN_vel2gain</key>
<key>fil_gain_onccN</key>
<key>fil_gain</key>
<key>fil_keycenter</key>
<key>fil_keytrack</key>
<key>fil_random</key>
<key>fil_type</key>
<key>fil_veltrack</key>
<key>fil2_gain</key>
<key>fil2_keycenter</key>
<key>fil2_keytrack</key>
<key>fil2_type</key>
<key>fil2_veltrack</key>
<key>fileg_attack_onccN</key>
<key>fileg_attack_shape</key>
<key>fileg_attack</key>
<key>fileg_attackccN</key>
<key>fileg_decay_onccN</key>
<key>fileg_decay_shape</key>
<key>fileg_decay_zero</key>
<key>fileg_decay</key>
<key>fileg_decayccN</key>
<key>fileg_delay_onccN</key>
<key>fileg_delay</key>
<key>fileg_delayccN</key>
<key>fileg_depth_onccN</key>
<key>fileg_depth</key>
<key>fileg_depthccN</key>
<key>fileg_dynamic</key>
<key>fileg_hold_onccN</key>
<key>fileg_hold</key>
<key>fileg_holdccN</key>
<key>fileg_release_onccN</key>
<key>fileg_release_shape</key>
<key>fileg_release_zero</key>
<key>fileg_release</key>
<key>fileg_releaseccN</key>
<key>fileg_start_onccN</key>
<key>fileg_start</key>
<key>fileg_startccN</key>
<key>fileg_sustain_onccN</key>
<key>fileg_sustain</key>
<key>fileg_sustainccN</key>
<key>fileg_vel2attack</key>
<key>fileg_vel2decay</key>
<key>fileg_vel2delay</key>
<key>fileg_vel2depth</key>
<key>fileg_vel2hold</key>
<key>fileg_vel2release</key>
<key>fileg_vel2sustain</key>
<key>fillfo_delay</key>
<key>fillfo_depth_onccN</key>
<key>fillfo_depth</key>
<key>fillfo_depthccN</key>
<key>fillfo_depthchanaft</key>
<key>fillfo_depthpolyaft</key>
<key>fillfo_fade</key>
<key>fillfo_freq</key>
<key>fillfo_freqccN</key>
<key>fillfo_freqchanaft</key>
<key>fillfo_freqpolyaft</key>
<key>filter_cutoff_onccN</key>
<key>filter_cutoff</key>
<key>filter_resonance_onccN</key>
<key>filter_resonance</key>
<key>filter_type</key>
<key>filtype</key>
<key>fxNtomain</key>
<key>fxNtomix</key>
<key>gain_ccN</key>
<key>gain_onccN</key>
<key>gain_random</key>
<key>gain</key>
<key>gate_attack</key>
<key>gate_onccN</key>
<key>gate_release</key>
<key>gate_stlink</key>
<key>gate_threshold</key>
<key>global_amplitude</key>
<key>global_label</key>
<key>global_volume</key>
<key>group_amplitude</key>
<key>group_label</key>
<key>group_volume</key>
<key>group</key>
<key>hibend</key>
<key>hibpm</key>
<key>hiccN</key>
<key>hichan</key>
<key>hichanaft</key>
<key>hihdccN</key>
<key>hikey</key>
<key>hint_*</key>
<key>hipolyaft</key>
<key>hiprog</key>
<key>hirand</key>
<key>hitimer</key>
<key>hivel</key>
<key>image</key>
<key>#include</key>
<key>internal</key>
<key>key</key>
<key>label_ccN</key>
<key>lfoN_amplitude_onccX</key>
<key>lfoN_amplitude_smoothccX</key>
<key>lfoN_amplitude_stepccX</key>
<key>lfoN_amplitude</key>
<key>lfoN_bitred_onccX</key>
<key>lfoN_bitred_smoothccX</key>
<key>lfoN_bitred_stepccX</key>
<key>lfoN_bitred</key>
<key>lfoN_count</key>
<key>lfoN_cutoff_onccX</key>
<key>lfoN_cutoff_smoothccX</key>
<key>lfoN_cutoff_stepccX</key>
<key>lfoN_cutoff</key>
<key>lfoN_cutoff2</key>
<key>lfoN_decim_onccX</key>
<key>lfoN_decim_smoothccX</key>
<key>lfoN_decim_stepccX</key>
<key>lfoN_decim</key>
<key>lfoN_delay_onccX</key>
<key>lfoN_delay</key>
<key>lfoN_depth_lfoX</key>
<key>lfoN_depthadd_lfoX</key>
<key>lfoN_drive_onccX</key>
<key>lfoN_drive_smoothccX</key>
<key>lfoN_drive_stepccX</key>
<key>lfoN_drive</key>
<key>lfoN_eqXbw_onccY</key>
<key>lfoN_eqXbw_smoothccY</key>
<key>lfoN_eqXbw_stepccY</key>
<key>lfoN_eqXbw</key>
<key>lfoN_eqXfreq_onccY</key>
<key>lfoN_eqXfreq_smoothccY</key>
<key>lfoN_eqXfreq_stepccY</key>
<key>lfoN_eqXfreq</key>
<key>lfoN_eqXgain_onccY</key>
<key>lfoN_eqXgain_smoothccY</key>
<key>lfoN_eqXgain_stepccY</key>
<key>lfoN_eqXgain</key>
<key>lfoN_fade_onccX</key>
<key>lfoN_fade</key>
<key>lfoN_freq_lfoX_onccY</key>
<key>lfoN_freq_lfoX</key>
<key>lfoN_freq_onccX</key>
<key>lfoN_freq_smoothccX</key>
<key>lfoN_freq_stepccX</key>
<key>lfoN_freq</key>
<key>lfoN_noiselevel_onccX</key>
<key>lfoN_noiselevel_smoothccX</key>
<key>lfoN_noiselevel_stepccX</key>
<key>lfoN_noiselevel</key>
<key>lfoN_noisestep_onccX</key>
<key>lfoN_noisestep_smoothccX</key>
<key>lfoN_noisestep_stepccX</key>
<key>lfoN_noisestep</key>
<key>lfoN_noisetone_onccX</key>
<key>lfoN_noisetone_smoothccX</key>
<key>lfoN_noisetone_stepccX</key>
<key>lfoN_noisetone</key>
<key>lfoN_offset</key>
<key>lfoN_offsetX</key>
<key>lfoN_pan_onccX</key>
<key>lfoN_pan_smoothccX</key>
<key>lfoN_pan_stepccX</key>
<key>lfoN_pan</key>
<key>lfoN_phase_onccX</key>
<key>lfoN_phase</key>
<key>lfoN_pitch_curveccX</key>
<key>lfoN_pitch_onccX</key>
<key>lfoN_pitch_smoothccX</key>
<key>lfoN_pitch_stepccX</key>
<key>lfoN_pitch</key>
<key>lfoN_ratio</key>
<key>lfoN_ratioX</key>
<key>lfoN_resonance_onccX</key>
<key>lfoN_resonance_smoothccX</key>
<key>lfoN_resonance_stepccX</key>
<key>lfoN_resonance</key>
<key>lfoN_resonance2</key>
<key>lfoN_scale</key>
<key>lfoN_scaleX</key>
<key>lfoN_smooth_onccX</key>
<key>lfoN_smooth</key>
<key>lfoN_steps</key>
<key>lfoN_stepX_onccY</key>
<key>lfoN_stepX</key>
<key>lfoN_volume_onccX</key>
<key>lfoN_volume_smoothccX</key>
<key>lfoN_volume_stepccX</key>
<key>lfoN_volume</key>
<key>lfoN_wave_onccX</key>
<key>lfoN_wave</key>
<key>lfoN_waveX</key>
<key>lfoN_width_onccX</key>
<key>lfoN_width_smoothccX</key>
<key>lfoN_width_stepccX</key>
<key>lfoN_width</key>
<key>load_end</key>
<key>load_mode</key>
<key>load_start</key>
<key>lobend</key>
<key>lobpm</key>
<key>loccN</key>
<key>lochan</key>
<key>lochanaft</key>
<key>lohdccN</key>
<key>lokey</key>
<key>loop_count</key>
<key>loop_crossfade</key>
<key>loop_end</key>
<key>loop_length_onccN</key>
<key>loop_lengthccN</key>
<key>loop_mode</key>
<key>loop_continuous for samples with defined loop(s).</key>
<key>loop_start_onccN</key>
<key>loop_start</key>
<key>loop_startccN</key>
<key>loop_tune</key>
<key>loop_type</key>
<key>loopend</key>
<key>loopmode</key>
<key>loop_continuous for samples with defined loop(s).</key>
<key>loopstart</key>
<key>lopolyaft</key>
<key>loprog</key>
<key>lorand</key>
<key>lotimer</key>
<key>lovel</key>
<key>master_amplitude</key>
<key>master_label</key>
<key>master_volume</key>
<key>md5</key>
<key>noise_filter</key>
<key>noise_level_onccN</key>
<key>noise_level_smoothccN</key>
<key>noise_level</key>
<key>noise_step_onccN</key>
<key>noise_step</key>
<key>noise_stereo</key>
<key>noise_tone_onccN</key>
<key>noise_tone</key>
<key>note_offset</key>
<key>note_polyphony</key>
<key>note_selfmask</key>
<key>octave_offset</key>
<key>off_by</key>
<key>off_curve</key>
<key>off_mode</key>
<key>off_shape</key>
<key>off_time</key>
<key>offby</key>
<key>offset_ccN</key>
<key>offset_onccN</key>
<key>offset_random</key>
<key>offset</key>
<key>on_hiccN</key>
<key>on_hihdccN</key>
<key>on_loccN</key>
<key>on_lohdccN</key>
<key>oscillator_detune_onccN</key>
<key>oscillator_detune</key>
<key>oscillator_mod_depth_onccN</key>
<key>oscillator_mod_depth</key>
<key>oscillator_mod_smoothccN</key>
<key>oscillator_mode</key>
<key>oscillator_multi</key>
<key>oscillator_phase</key>
<key>oscillator_quality</key>
<key>oscillator_table_size</key>
<key>oscillator</key>
<key>output</key>
<key>pan_ccN</key>
<key>pan_curveccN</key>
<key>pan_keycenter</key>
<key>pan_keytrack</key>
<key>pan_law</key>
<key>pan_onccN</key>
<key>pan_smoothccN</key>
<key>pan_stepccN</key>
<key>pan_veltrack</key>
<key>pan</key>
<key>param_offset</key>
<key>phase</key>
<key>phaser_depth_onccN</key>
<key>phaser_depth</key>
<key>phaser_feedback_onccN</key>
<key>phaser_feedback</key>
<key>phaser_freq_onccN</key>
<key>phaser_freq</key>
<key>phaser_phase_onccN</key>
<key>phaser_stages</key>
<key>phaser_waveform</key>
<key>phaser_wet_onccN</key>
<key>phaser_wet</key>
<key>pitch_curveccN</key>
<key>pitch_keycenter</key>
<key>pitch_keytrack</key>
<key>pitch_onccN</key>
<key>pitch_random</key>
<key>pitch_smoothccN</key>
<key>pitch_stepccN</key>
<key>pitch_veltrack</key>
<key>pitch</key>
<key>pitcheg_attack_onccN</key>
<key>pitcheg_attack_shape</key>
<key>pitcheg_attack</key>
<key>pitcheg_decay_onccN</key>
<key>pitcheg_decay_shape</key>
<key>pitcheg_decay_zero</key>
<key>pitcheg_decay</key>
<key>pitcheg_delay_onccN</key>
<key>pitcheg_delay</key>
<key>pitcheg_depth_onccN</key>
<key>pitcheg_depth</key>
<key>pitcheg_dynamic</key>
<key>pitcheg_hold_onccN</key>
<key>pitcheg_hold</key>
<key>pitcheg_release_onccN</key>
<key>pitcheg_release_shape</key>
<key>pitcheg_release_zero</key>
<key>pitcheg_release</key>
<key>pitcheg_start_onccN</key>
<key>pitcheg_start</key>
<key>pitcheg_sustain_onccN</key>
<key>pitcheg_sustain</key>
<key>pitcheg_vel2attack</key>
<key>pitcheg_vel2decay</key>
<key>pitcheg_vel2delay</key>
<key>pitcheg_vel2depth</key>
<key>pitcheg_vel2hold</key>
<key>pitcheg_vel2release</key>
<key>pitcheg_vel2sustain</key>
<key>pitchlfo_delay</key>
<key>pitchlfo_depth_onccN</key>
<key>pitchlfo_depth</key>
<key>pitchlfo_depthccN</key>
<key>pitchlfo_depthchanaft</key>
<key>pitchlfo_depthpolyaft</key>
<key>pitchlfo_fade</key>
<key>pitchlfo_freq</key>
<key>pitchlfo_freqccN</key>
<key>pitchlfo_freqchanaft</key>
<key>pitchlfo_freqpolyaft</key>
<key>polyphony_group</key>
<key>polyphony_stealing</key>
<key>polyphony</key>
<key>position_veltrack</key>
<key>position</key>
<key>region_label</key>
<key>resonance_ccN</key>
<key>resonance_curveccN</key>
<key>resonance_onccN</key>
<key>resonance_smoothccN</key>
<key>resonance_stepccN</key>
<key>resonance</key>
<key>resonance2</key>
<key>reverb_damp_onccN</key>
<key>reverb_damp</key>
<key>reverb_dry_onccN</key>
<key>reverb_dry</key>
<key>reverb_input_onccN</key>
<key>reverb_input</key>
<key>reverb_predelay_onccN</key>
<key>reverb_predelay</key>
<key>reverb_size_onccN</key>
<key>reverb_size</key>
<key>reverb_tone_onccN</key>
<key>reverb_tone</key>
<key>reverb_type</key>
<key>reverb_wet_onccN</key>
<key>reverb_wet</key>
<key>reverse_hiccN</key>
<key>reverse_loccN</key>
<key>rt_dead</key>
<key>rt_decay</key>
<key>sample_fadeout</key>
<key>sample_quality</key>
<key>sample</key>
<key>script</key>
<key>seq_length</key>
<key>seq_position</key>
<key>set_ccN</key>
<key>set_hdccN</key>
<key>set_realccN</key>
<key>sostenuto_cc</key>
<key>sostenuto_lo</key>
<key>sostenuto_sw</key>
<key>start_hiccN</key>
<key>start_hihdccN</key>
<key>start_loccN</key>
<key>start_lohdccN</key>
<key>static_cyclic_level</key>
<key>static_cyclic_time</key>
<key>static_filter</key>
<key>static_level_onccN</key>
<key>static_level</key>
<key>static_random_level</key>
<key>static_random_maxtime</key>
<key>static_random_mintime</key>
<key>static_stereo</key>
<key>static_tone</key>
<key>stop_beats</key>
<key>stop_hiccN</key>
<key>stop_hihdccN</key>
<key>stop_loccN</key>
<key>stop_lohdccN</key>
<key>strings_number</key>
<key>strings_wet_onccN</key>
<key>sustain_cc</key>
<key>sustain_lo</key>
<key>sustain_sw</key>
<key>sw_default</key>
<key>sw_down</key>
<key>sw_hikey</key>
<key>sw_hilast</key>
<key>sw_label</key>
<key>sw_last</key>
<key>sw_lokey</key>
<key>sw_lolast</key>
<key>sw_note_offset</key>
<key>sw_octave_offset</key>
<key>sw_previous</key>
<key>sw_up</key>
<key>sw_vel</key>
<key>sync_beats</key>
<key>sync_offset</key>
<key>tdfir_dry_onccN</key>
<key>tdfir_dry</key>
<key>tdfir_gain</key>
<key>tdfir_impulse</key>
<key>tdfir_wet_onccN</key>
<key>tdfir_wet</key>
<key>transpose</key>
<key>trigger</key>
<key>tune_ccN</key>
<key>tune_curveccN</key>
<key>tune_keytrack</key>
<key>tune_onccN</key>
<key>tune_random</key>
<key>tune_smoothccN</key>
<key>tune_stepccN</key>
<key>tune_veltrack</key>
<key>tune</key>
<key>type</key>
<key>varNN_*</key>
<key>varNN_curveccX</key>
<key>varNN_mod</key>
<key>varNN_onccX</key>
<key>vendor_specific</key>
<key>vN</key>
<key>volume_curveccN</key>
<key>volume_onccN</key>
<key>volume_smoothccN</key>
<key>volume_stepccN</key>
<key>volume</key>
<key>waveguide</key>
<key>width_curveccN</key>
<key>width_onccN</key>
<key>width_smoothccN</key>
<key>width_stepccN</key>
<key>width</key>
<key>xf_cccurve</key>
<key>xf_keycurve</key>
<key>xf_velcurve</key>
<key>xfin_hiccN</key>
<key>xfin_hikey</key>
<key>xfin_hivel</key>
<key>xfin_loccN</key>
<key>xfin_lokey</key>
<key>xfin_lovel</key>
<key>xfout_hiccN</key>
<key>xfout_hikey</key>
<key>xfout_hivel</key>
<key>xfout_loccN</key>
<key>xfout_lokey</key>
<key>xfout_lovel</key>

		
	</array>
	<key>BBLMLanguageCode</key>
	<string>pSFZ</string>
	<key>BBLMLanguageDisplayName</key>
	<string>SFZ</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.sfz</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string></string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>&gt;</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>$ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string></string>
		<key>Open Strings 1</key>
		<string>&lt;</string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
